body,html{margin:0;}

h1{background-color: #4eaf47;
color: white;
font-size: 7,5rem;
size: 50%;
padding-top: 2,5vmin;
padding-bottom: 2,5vmin;
}

h2{
    color:#4eaf47;
}
p{
    font-size: 120%;
}

.bild{ 
    margin-right: 5vw;
    max-width: 200px;
    max-height: 200px;
}

.link_r{
    width: 0px;
    text-align: right;
}
.container{
    display:flex;
    min-width:10%;
    flex-wrap:wrap;
}
.container_h{
    display:flex;
    min-width: 0%;
    flex-wrap:wrap;
    background-color: #4eaf47;
}

.container_c{

    flex-direction: column;
    flex-wrap: wrap;
}
.karte{
    margin: 10px;
    border: 3px solid #4eaf47;
    flex-grow: 1;
    max-width: 50%;
    min-width:300px
}
.ueberschrift{
    display:flex;
    font-size: 200%;
}

.u_ueberschrift{
    display:flex;
    font-size: 150%;
}

.ueberschrift_r{
    text-align: right;
   
    min-width: 90%;
}
.ueberschrift_l{
    width:30px;
    max-height: 10px;
}

.werte{
    font-size: 100%;
}

a:link{
    text-decoration-color: #4eaf47;
    color: #4eaf47;
}

a:visited{
text-decoration-color: #4eaf47;
}

.button{
    color:white;
    background-color: #4eaf47;
    border-color: white;
    font-size: 100%;
}
