body,html{margin:0;}

h1{background-color: #4eaf47;
color: white;
font-size: 160%;
size: 50%;
padding-top: 2,5%;
padding-bottom: 2,5%;
}

h2{
    color:#4eaf47;
}
p{
    font-size: 120%;
}

.bild{
    padding-bottom: 10%;
    width:10%;
    height: 0;

}

.link_r{
    width: 40%;
    text-align: right;
}
.container{
    display:flex;
    min-width: 80%;
    flex-wrap:wrap;
}
.container_h{
    display:flex;
    min-width: 80%;
    flex-wrap:wrap;
    background-color: #4eaf47;

}

.karte{
    margin-left: 2%;
    margin-bottom: 2%;
    border: 3px solid #4eaf47;
    flex-grow: 1;
    max-width: 50%;
}
.ueberschrift{
    display:flex;
    font-size: 200%;
}

.u_ueberschrift{
    display:flex;
    font-size: 150%;
}

.ueberschrift_r{
    text-align: right;
   
    min-width: 60%;
}

.werte{
    font-size: 100%;
}

a:link{
    text-decoration-color: #4eaf47;
    color: #4eaf47;
}

a:visited{
text-decoration-color: #4eaf47;
}

.button{
    color:white;
    font-size: 100%;
}
